<!--
	htmls/01/index04.html
-->
{%extends 'base.html'%}
{%block title%}歡迎{%endblock%}
{%block headmessage%}手機列表{%endblock%}
{%block content%}
<table style="width:80%" align="center"><tr>
<th>手機</th><th>廠牌/型號</th><th>年份</th><th>價格</th></tr>
{%for p in phone_list%}
	<tr bgcolor='{%cycle "#ffccff" "#ccffcc"%}'>
	<td><a href="{%url 'phone-url' p.id%}">{{p.name}}</a></td>
	<td>{{p.model.maker}}/{{p.model}}</td>
	<td>{{p.year}}</td>
	<td>{{p.price}}</td>
	</tr>
{%empty%}	<h3>缺貨</h3>
{%endfor%}
</table>
{%endblock%}
