body {
	background-color: white;
	color: gray;
}

table, td, th {
  border: 0px solid black;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  vertical-align: top;
}
